<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Acciones</li>
      <%=nav_link('Ingreso Ord. Compra', purchase_orders_movements_path) if can? :purchase_orders, Movement%>
      <%=nav_link('Nota de Entrada', new_incoming_movements_path) if can? :new_incoming, Movement%>
    </ul>
  </div><!--/.well -->
</div><!--/span-->