<tr>
	<td class="span5"><%=f.association :product, label: false, wrapper: false, input_html: {class: 'my_select2 span12'}%></td>
	<td><%=f.input :quantity, label: false, wrapper: false%></td>
	<td><%=f.input :price_unit, label: false, wrapper: false%></td>
	<td><%=f.check_box :_destroy%></td>
</tr>