<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Acciones</li>
      <%=nav_link('Ordenes', purchase_orders_path)%>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
