<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Acciones</li>
      <%=nav_link('Solicitud de Cotizaciones', pending_requeriment_quotations_path)%>
      <%=nav_link('Cotizaciones', quotations_path)%>
      <%=nav_link('Cuadro comparativo', compare_quotations_path)%>
      <%=nav_link('Cotizaciones Ganadoras', quotation_list_purchase_orders_path)%>
    </ul>
  </div><!--/.well -->
</div><!--/span-->