<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Acciones</li>
      <%=nav_link('Almacenes', ware_houses_path)%>
      <%=nav_link('Nuevo', new_ware_house_path)%>
    </ul>
  </div><!--/.well -->
</div><!--/span-->